<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--注册Servlet，建立映射关系-->
    <servlet>
        <servlet-name>servlet-myfir</servlet-name>
        <servlet-class>com.powernode.java.MyFirServlet</servlet-class>
        <!--启动WEB容器时，实例化该Servlet，中间的参数值是优先级，越低越优先，0最优先-->
        <load-on-startup>5</load-on-startup>
        <init-param>
            <param-name>name</param-name>
            <param-value>河南明希</param-value>
        </init-param><init-param>
        <param-name>address</param-name>
        <param-value>绿地双子塔</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet-myfir</servlet-name>
        <url-pattern>/some</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servlet-anoterfir</servlet-name>
        <servlet-class>com.powernode.java.AnotherServlet</servlet-class>
        <!--启动WEB容器时，实例化该Servlet，中间的参数值是优先级，越低越优先，0最优先-->
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>name1</param-name>
            <param-value>河南津孚</param-value>
        </init-param><init-param>
        <param-name>address</param-name>
        <param-value>未来城</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet-anoterfir</servlet-name>
        <url-pattern>/no</url-pattern>
    </servlet-mapping>
<!--    定义整个应用的初始化参数-->
    <context-param>
        <param-name>name</param-name>
        <param-value>风雨同舟</param-value>
    </context-param>
    <context-param>
        <param-name>address</param-name>
        <param-value>郑州中建观湖</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>